
.text-primary {
    color: #3498db !important;
}

.text-secondary {
    color: #6c757d !important;
}

.text-success {
    color: #61ba32 !important;
}

.text-info {
    color: #0dcaf0 !important;
}

.text-warning {
    color: #ffc107 !important;
}

.text-danger {
    color: #e74c3c !important;
}

.text-light {
    color: #f8f9fa !important;
}

.text-dark {
    color: #212529 !important;
}

.text-white {
    color: #fff !important;
}

.text-body {
    color: #212529 !important;
}

.text-muted {
    color: #6c757d !important;
}

.text-black-50 {
    color: rgba(0, 0, 0, 0.5) !important;
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5) !important;
}


.word-accent {
    font-size: 24px;
}

.transcription {
    font-weight: bold;
}

.phonetic-box {
    line-height: 30px;
    font-size: 20px;
}
.phonetic-box .letter {
    display: inline-block;
    width: 16px;
}
.phonetic-box .sound-sign {
    display: inline-block;
    width: 25px;
    text-align: center;
}

.text-muted.small.hidden-print {
    display: none;
}

.label.label-primary {
    display: block;
    margin-top: 25px;
}

.command-bar li {
    margin-left: 5px;
}

.sound {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #fff
}

.sound.consonant-hard {
    background: #3498db
}

.sound.vowel {
    background: #e74c3c
}

.sound.consonant-soft {
    background: #61ba32
}

.sound.vowel-dual {
    position: relative
}

.sound.vowel-dual:before {
    left: 0;
    background: #61ba32
}

.sound.vowel-dual:after, .sound.vowel-dual:before {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1
}

.sound.vowel-dual:after {
    left: 50%;
    background: #e74c3c
}

.sound.consonant-dual {
    position: relative
}

.sound.consonant-dual:before {
    left: 0;
    background: #3498db
}

.sound.consonant-dual:after, .sound.consonant-dual:before {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1
}

.sound.consonant-dual:after {
    left: 50%;
    background: #61ba32
}

.sound.nulled {
    background: grey
}

#setAccentBox {
    display: none
}

.word-accent {
    display: block;
    margin-top: 5px
}

.word-accent .char {
    margin: 0 5px;
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 3px
}

.variant {
    display: inline-block;
    padding: 10px 20px;
    background: white;
    border-left: 4px solid white;
    text-align: center;
}

.variant-ok {
    border-color: #28a745;
}

.variant-error {
    border-color: #dc3545;
}

.variant span {
    display: block;
    font-size: 16px;
}

.variant .title-small {
    font-size: 10px;
    margin-bottom: -3px;
    color: #28a745;
}

.variant-error .title-small {
    color: #dc3545;
}

.variant .body i {
    font-style: normal;
    padding-bottom: 3px;
    border-bottom: 2px solid #28a745;
}

.variant-error .body i {
    border-bottom: 2px solid #dc3545;
    text-decoration: line-through;
    text-decoration-color: #dc3545;
}

#tinymce {
    font-size: 16px;
}

#tinymce p {
    font-size: 14px;
    color: #444;
    margin-bottom: 1rem;
}
#tinymce blockquote {
    margin-left: 0;
}
#tinymce br {
    line-height: 0 !important;
    display: block;
    margin: 0;
    content: '';
}
